@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    background-color: #e6cf44;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;

}
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script-400 {
                     font-family: "Dancing Script", cursive;
                     font-optical-sizing: auto;
                     font-weight: 400;
                     font-style: normal;
                 }
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}


