*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fafafa;
    height: 100vh;
    flex-direction: column;
}
form{
    width: 400px;
    background: white;
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
}
h1{
    margin-bottom: 30px;
    font-size: 40px;
    font-family: cursive;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
button{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #0095f6;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.or{
    margin: 20px 0;
    color: grey;
}
.Facebook{
    text-decoration: none;
    font-weight: bold;
    color: #385185;
}
.forgot-password{
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #00376b;
    font-size: 14px;
}
.register-box{
    margin-top: 15px;
    background: white;
    border: 1px solid #dbdbdb;
    padding: 20px;
    width: 400px;
    justify-content: center;
    display: flex;

}
.register-box a{
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

