.card{
    display: inline-block;
    width: 30px;
    height: 20px;
    font-size: 19px;
    margin: 4px;
    background-color: lightgray;
    text-align: center;
}
.red{
    color:red;
}
.black{
    color: black;
}






