*{
    margin: 0;
    padding: 0;
}
.rectangle{
    height: 115px;
    /*border-radius: 49px;*/
    border: 10px solid #475842;
    background-color: #D2C0C0;
    box-shadow: 0px 4px 4px 0px rgba(93, 111, 107, 0.25);
}
