*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1ede9;
}
h1{
    text-align: center;
    padding: 50px 0;
}
.wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0 ;
}
.card{
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.card p{
    font-size: 20px;
    font-weight: 600;
}
.card img{
    width: 60%;
}
.text2{
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}
