@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
p{
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.bbh-bartle-regular-text {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;

}

.roboto-400 {
    font-family: "Roboto", sans-serif;
}


