@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.items{
font-family: 'Inter', serif;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 20px 0;
}
.item{
    width: 372px;
    text-align: center;
}
.item img{
    width: 100%;
}
